<h1>only accessible for admin to create a camp.</h1>
<p>
  camps need status functionality: on  hold. Live. etc
</p>
here admin should be able to view bookings for each camp created.
and visit the bookings to see who is booked, contact details. dietry requirements etc.
