<p>
  todo list
</p>
<h1>DUPLICATE EMAIL BUG. fix so duplicate emails cannot be entered</h1>
<p>
  this section must link to a database of available camps. which must be editable by CYC staff.

</p>

<p>
  camp records will have info, camp status (on hold or bookable) etc.
</p>
<p>
  create a log in timer, so logins will time out after time 20 minutes or so.
</p>
<p>
  create a admin login to create camps.
  save and edit camp.
  toggle camp to set status to live or on hold. (which will then be displayed to users.)
</p>

<ol>
  <li>security issues. make everything secure</li>
  <li>show indivual camps</li>
  <li>Admin login privilege</li>
  <li>Admin can create Camps</li>
  <li>Camps displayed on the book camp page</li>
  <li>Booking info from User available to admin. compiled with analytics</li>
  <li>hosting</li>
</ol>

<h4>security todos</h4>
<div class="">
  <p>
    https
  </p>
  <p>
    injections? forms?
  </p>
  <p>
    Cross-Site Request Forgery (CSRF)
  </p>
  <p>

    http://scottksmith.com/blog/2014/09/04/simple-steps-to-secure-your-express-node-application/
  </p>
</div>
