<h4>Bookings</h4>

<div class="booked_camp_name">
  Camp: {{booking.camp_name}}
</div>
<div class="who_is_going">
    Who's going?: {{booking.attendee_name}}
</div>

<p>
  Date of Camp: {{booking.camp_date}}
</p>
